/*---------- GOOGLE FONTS IMPORT ----------*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto+Serif:opsz,wght@8..144,200&display=swap');

:root {
    /*---------- TYPOGRAPHY ----------*/
    --header-text: 'Dancing Script', cursive;
    --content-text: 'Roboto Serif', serif;
    /*---------- COLOURS ----------*/
    --color: #fafafa, #4b4453, rgba(0, 0, 0);
}

/* Removes all margins & Padding on everything so they can be fully customised */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background image added to the body with a backup colour in case the image cannot load */
body {
    background: url(../images/abstract/1.webp);
    background-color: #4b4453;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header {
    background: url(../images/abstract/1.webp);
    background-color: #4b4453;
    background-size: cover;
    padding: 10px 0 0 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

section {
    padding-top: 60px;
    min-height: 93vh;
    overflow-x: hidden;
}

footer {
    margin-top: auto;
}

.opaque-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/*---------- HEADINGS & TEXT ----------*/
h1 {
    text-align: justify;
    color: #fafafa;
    font-family: 'Dancing Script', cursive;
    transition: transform 0.3s ease-in-out;
    font-size: 3rem;
}

h1:hover {
    transform: scale(1.1);
}

#h1-container {
    display: flex;
    align-items: center;
}

h2 {
    text-align: center;
    color: #fafafa;
    font-family: 'Dancing Script', cursive;
    transition: transform 0.3s ease-in-out;
    font-size: 2rem;
}

h2:hover {
    transform: scale(1.1);
}

h3 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #fafafa;
    font-size: larger;
}

p {
    color: #fafafa;
    font-family: 'Roboto Serif', serif;
    text-align: justify;
    padding-right: 15px;
    font-size: 1rem;
    font-weight: 800;
}

a {
    text-decoration: none;
    font-family: 'Roboto Serif', serif;
}

/*---------- SEMANTIC HEADER ----------*/
.container-fluid {
    padding-left: 20px;
    padding-right: 10px;
}

#nav-container {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    color: #fafafa;
    font-size: 11px;
}

.nav-link:hover {
    color: #fafafa;
}

.navbar-toggler {
    background-color: #fafafa;
    margin-bottom: 5px;
}

/*---------- SEMANTIC SECTION ----------*/

/*Styling for carousel container on home page*/
#carousel-container {
    margin-top: 20px;
    position: relative;
    z-index: 1;
    height: fit-content;
    overflow-y: hidden;
}

#cover-text {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding: 0 30px;
}

#cover-text h2 {
    color: rgba(40, 4, 52, 0.964);
    font-size: x-large;
    text-decoration: dotted;
}

#cover-text-right {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    padding: 0 20px;
}

#cover-text-right h2 {
    color: rgba(40, 4, 52, 0.964);
    font-size: x-large;
    text-decoration: dotted;
}

.carousel-item img {
    height: 710px;
}

/*Container holding about-us sections on home page*/
#about-us {
    padding-top: 10px;
    margin-top: 10px;
}

/*Container holding latest releases & upcoming exhibition sections on home page*/
#inner-section {
    height: 100%;
    width: auto;
    display: inline-block;
}

/*Styling for latest release section of home page*/
#latest-release {
    float: left;
    width: 50%;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 0 10px 0 20px;
}

.image-grid img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.image-grid img:hover {
    transform: scale(1.1);
}

/*Styling for upcoming exhibitions on home page*/
#exhibition-list {
    float: right;
    width: 50%;
}

.upcoming-exhibitions {
    width: 95%;
    padding: 20px 0 0 40px;
}

.exhibition-list-item {
    padding: 0 20px;
    background-image: url(../images/abstract/1.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 70px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.exhibition-list-item:hover {
    transform: scale(1.1);
}

.exhibition-date {
    color: #fafafa;
    width: auto;
    font-size: 12px;
}

.exhibition-list-item p {
    text-align: center;
    width: auto;
    font-size: 12px;
}

.exhibition-list-item a {
    font-size: 12px;
}

.exhibition-list-item a:hover {
    text-decoration: none;
    color: #4b4453;
}

/*Styling location section of home page*/
#location-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#location-thumbnail img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    margin-right: 20px;
}

#location-thumbnail img:hover {
    transform: scale(1.1);
}

#location-thumbnail div p {
    font-family: 'Roboto Serif', serif;
    text-align: center;
    padding-top: 5px;
    font-size: x-small;
}

/*Styling images on gallery page*/
#gallery-section {
    padding-top: 60px;
    min-height: 93vh;
    overflow-x: hidden;
}

.image-container {
    margin-bottom: 10px;
}

#gallery-container {
    background-color: #fafafa;
    padding: 10px 5px 5px 0;
    margin: 20px 15px;
}

/*Styling exhibition content on exhibition page*/
#h2-container {
    margin-top: 20px;
}

#exhibition-intro {
    padding: 0 20px;
}

#exhibition-page-items {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

/*Styling booking form on booking page*/
.booking-intro {
    margin-top: 20px;
}

.booking-intro p {
    padding-right: 20px;
}

#booking-form {
    margin-bottom: 40px;
}

.mb-3 label {
    font-family: 'Roboto Serif', serif;
    color: #fafafa;
    font-size: 13px;
}

/*Styling thank-you page*/

#thank-you-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.thank-you-container {
    display: block;
}

#thank-you-button {
    text-align: center;
}

#thank-you-button button {
    margin-top: 10px;
    font-size: small;
}

/*Styling coming-soon page*/

#coming-soon-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.coming-soon-container {
    display: block;
}

#coming-soon-button {
    text-align: center;
}

#coming-soon-button button {
    margin-top: 10px;
    font-size: small;
}

/*---------- SEMANTIC FOOTER ----------*/
#footer-p {
    font-size: 10px;
}

#paragraph-container {
    display: flex;
    align-items: center;
}


/*Styling social-media links in footer*/

.social-media li a i {
    color: #4b4453;
    background: #fafafa;
    width: 25px;
    height: 25px;
    padding: 10px 0;
    border-radius: 50%;
    font-size: 10px;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
}

.social-media li a i:hover {
    transform: scale(1.1);
    color: #fafafa;
    background: #4b4453;
}

#socialmedia-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.footer-container {
    padding-top: 20px;
}

/*----MEDIA QUERIES----*/

/*---------- Styling for screens with (min-width: 320px) and (max-width: 575px) ----------*/

@media (min-width: 320px) and (max-width: 575px) {

    /*---------- Styling for the website ----------*/

    body {
        background: url(../images/abstract/1.webp);
        background-color: #4b4453;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        overflow-x: hidden;
    }

    /*---------- Styling the header container ----------*/
    header {
        padding: 10px 0 0 0;
        position: relative;
        background: none;
        overflow-x: hidden;
    }

    /*---------- Typography ----------*/
    #h1-container {
        padding-left: 0;
    }

    h1 {
        font-size: xx-large;
    }

    p {
        color: #fafafa;
        font-family: 'Roboto Serif', serif;
        font-size: 13px;
        text-align: justify;
        padding-right: 15px;
        font-weight: 800;
    }

    /*---------- Styling section ----------*/
    section {
        padding-top: 0;
        margin-top: 0;
        min-height: 85vh;
        overflow-x: hidden;
    }

    /*---------- Styling Carousel on home page ----------*/
    #carousel-container {
        margin: 20px 0 20px 0;
        position: relative;
        height: fit-content;
    }

    .carousel-inner img {
        height: 350px;
    }

    /*---------- Styling cover text for carousel on home page ----------*/
    #cover-text {
        padding: 10px 0 0 10px;
        bottom: 0;
    }

    /*---------- Typography for carousel cover text  on home page ----------*/
    #cover-text h2 {
        font-size: small;
    }

    #cover-text-right {
        padding: 10px 0 0 10px;
        bottom: 0;
    }

    #cover-text-right h2 {
        font-size: small;
    }

    /*---------- Styling container holding latest release and exhibition list sections----------*/
    #inner-section {
        height: auto;
        width: auto;
        display: block;
    }

    /*---------- Styling latest release section----------*/
    #latest-release {
        width: auto;
    }

    #gallery-section {
        padding-top: 0;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
        padding: 0 10px 0 10px;
    }

    /*---------- Styling exhibition list section----------*/
    #exhibition-list {
        width: 100%;
        margin-bottom: 10px;
    }

    .upcoming-exhibitions {
        width: auto;
        padding-left: 20px;
    }

    .exhibition-list-item {
        height: 60px;
    }

    .exhibition-date {
        font-size: xx-small;
        padding: 0;
    }

    .exhibition-list-item h3 {
        font-size: small;
    }

    .exhibition-list-item p {
        font-size: xx-small;
    }

    .exhibition-list-item a {
        font-size: xx-small;
    }

    /*---------- Styling container holding location section on home page----------*/
    #second-section {
        margin-left: 10px;
    }

    /*---------- Styling location thumbnails on home page----------*/
    #location-thumbnail img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }

    #location-thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #location-thumbnail div p {
        font-size: xx-small;
    }


    /*---------- Styling location thumbnails on home page----------*/
    #h2-container {
        margin-top: 10px;
    }

    #exhibition-intro {
        padding: 0 10px 0 20px;
    }

    #section-container {
        display: block;
    }

    /*---------- Styling footer----------*/
    footer {
        overflow-x: hidden;
    }

    #footer-p {
        font-size: 5px;
    }

    .social-media li a i {
        width: 15px;
        height: 15px;
        padding: 5px 0;
        border-radius: 50%;
    }
}

/*---------- Styling for screens with (min-width: 576px) and (max-width: 766px) ----------*/

@media (min-width: 576px) and (max-width: 766px) {

    /*---------- Styling for the website ----------*/
    body {
        background: url(../images/abstract/1.webp);
        background-color: #4b4453;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        overflow-x: hidden;
    }

    /*---------- Styling for header ----------*/
    header {
        padding: 10px 0;
        position: relative;
        background: none;
        overflow-x: hidden;
    }

    /*---------- Styling for section ----------*/
    section {
        padding-top: 0;
        min-height: 88vh;
        overflow-x: hidden;
    }

    /*---------- Styling for carousel on home page ----------*/
    #carousel-container {
        margin: 20px 0 20px 0;
        position: relative;
    }

    .carousel-inner img {
        height: 600px;
    }

    #inner-section {
        height: auto;
        width: auto;
        display: block;
        margin: 0 10px
    }

    /*---------- Styling for latest release section on home page ----------*/
    #latest-release {
        width: auto;
    }

    #gallery-section {
        padding-top: 0;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        padding: 0 10px 0 10px;
    }

    /*---------- Styling for upcoming exhibition section on home page ----------*/
    #exhibition-list {
        width: 100%;
        margin-bottom: 10px;
    }

    .upcoming-exhibitions {
        width: auto;
        padding-left: 20px;
    }

    .exhibition-list-item {
        height: 60px;
    }

    .exhibition-date {
        font-size: xx-small;
        padding: 0;
    }

    .exhibition-list-item h3 {
        font-size: small;
    }

    .exhibition-list-item p {
        font-size: xx-small;
    }

    .exhibition-list-item a {
        font-size: xx-small;
    }

    /*---------- Styling for location section on home page ----------*/
    #second-section {
        margin-left: 10px;
    }

    #location-thumbnail img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }

    #location-thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #location-thumbnail div p {
        font-size: xx-small;
    }

    /*---------- Styling for exhibbition page ----------*/

    #h2-container {
        margin-top: 10px;
    }

    #exhibition-intro {
        padding: 0 10px 0 20px;
    }

    #section-container {
        display: block;
        padding: 0 10px;
    }

    /*---------- Styling for booking page ----------*/
    .form-control {
        width: 290%;
    }

    /*---------- Styling for thank-you page ----------*/
    #thank-you-body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        text-align: center;
        padding: 0 40px;
    }

    .thank-you-container {
        display: block;
    }

    #thank-you-button {
        text-align: center;
    }

    #thank-you-button button {
        margin-top: 10px;
        font-size: small;
    }

    /*---------- Styling for coming-soon page ----------*/
    #coming-soon-body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        text-align: center;
        padding: 0 40px;
    }

    .coming-soon-container {
        display: block;
    }

    #coming-soon-button {
        text-align: center;
    }

    #coming-soon-button button {
        margin-top: 10px;
        font-size: small;
    }

    /*---------- Styling for footer ----------*/
    footer {
        overflow-x: hidden;
    }

    #footer-p {
        font-size: 5px;
    }

    .social-media li a i {
        width: 15px;
        height: 15px;
        padding: 5px 0;
        border-radius: 50%;
    }

}

/*---------- Styling for screens with (min-width: 768px) and (max-width: 820px) ----------*/
@media (min-width: 768px) and (max-width: 820px) {

    /*---------- Styling for website ----------*/
    body {
        background: url(../images/abstract/1.webp);
        background-color: #4b4453;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        overflow-x: hidden;
    }

    /*---------- Styling for header ----------*/
    header {
        padding: 10px 0;
        position: relative;
        background: none;
        overflow-x: hidden;
    }

    /*---------- Styling for section ----------*/

    section {
        padding-top: 0;
        min-height: 88vh;
        overflow-x: hidden;
    }

    /*---------- Styling for carousel on home page ----------*/
    #carousel-container {
        margin: 20px 0 20px 0;
        position: relative;
        height: fit-content;
    }

    /*---------- Styling for container holding latest release & upcoming exhibition sections on home page ----------*/
    #inner-section {
        height: auto;
        width: auto;
        display: block;
        margin: 0 10px;
    }

    /*---------- Styling for latest release section on home page ----------*/
    #latest-release {
        width: auto;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        padding: 0 10px 0 10px;
    }

    #gallery-section {
        padding-top: 0;
    }

    /*---------- Styling for upcoming exhibition section on home page ----------*/
    #exhibition-list {
        width: 100%;
        margin-bottom: 10px;
    }

    .upcoming-exhibitions {
        width: auto;
        padding-left: 20px;
    }

    .exhibition-list-item {
        height: 60px;
    }

    .exhibition-date {
        font-size: x-small;
        padding: 0;
    }

    .exhibition-list-item h3 {
        font-size: small;
    }

    .exhibition-list-item p {
        font-size: xx-small;
    }

    .exhibition-list-item a {
        font-size: xx-small;
    }

    /*---------- Styling for location section on home page ----------*/
    #location-thumbnail img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    #location-thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #location-thumbnail div p {
        font-size: xx-small;
    }

    /*---------- Styling for exhibition page ----------*/
    #h2-container {
        margin-top: 10px;
    }

    #exhibition-intro {
        padding: 0 10px 0 20px;
    }

    #section-container {
        display: block;
    }

    /*---------- Styling for booking page ----------*/
    .form-select {
        width: 200%;
    }

    .form-control {
        width: 200%;
    }

    /*---------- Styling for thank-you page ----------*/
    #thank-you-body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        text-align: center;
        padding: 0 40px;
    }

    .thank-you-container {
        display: block;
    }

    #thank-you-button {
        text-align: center;
    }

    #thank-you-button button {
        margin-top: 10px;
        font-size: small;
    }

    /*---------- Styling for coming-soon page ----------*/
    #coming-soon-body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        text-align: center;
        padding: 0 40px;
    }

    .coming-soon-container {
        display: block;
    }

    #coming-soon-button {
        text-align: center;
    }

    #coming-soon-button button {
        margin-top: 10px;
        font-size: small;
    }

    /*---------- Styling for footer ----------*/
    footer {
        overflow-x: hidden;
    }

    #footer-p {
        font-size: 5px;
    }

    .social-media li a i {
        width: 15px;
        height: 15px;
        padding: 5px 0;
        border-radius: 50%;
    }
}


/*---------- Styling for screens with (min-width: 821px) and (max-width: 1024px) ----------*/
@media (min-width: 821px) and (max-width: 1024px) {

    /*---------- Styling for web pages ----------*/
    body {
        background: url(../images/abstract/1.webp);
        background-color: #4b4453;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        overflow-x: hidden;
    }

    /*---------- Styling for header ----------*/
    header {
        padding: 10px 0;
        position: relative;
        background: none;
        overflow-x: hidden;
    }

    /*---------- Styling for section ----------*/
    section {
        padding-top: 0;
        min-height: 91vh;
        overflow-x: hidden;
    }

    /*---------- Styling for carousel on home page ----------*/
    #carousel-container {
        margin: 20px 0 20px 0;
        position: relative;
        height: fit-content;
    }

    .carousel-inner img {
        height: 600px;
    }

    /*---------- Styling for container holding latest release & upcoming exhibition sections on home page ----------*/
    #inner-section {
        height: auto;
        width: auto;
        display: block;
        margin: 0 10px;
    }

    /*---------- Styling for latest release section on home page ----------*/
    #latest-release {
        width: auto;
        margin-bottom: 20px;
    }

    /*---------- Styling for upcoming exhibition on home page ----------*/
    #exhibition-list {
        width: 100%;
        margin-bottom: 10px;
    }

    /*---------- Styling for gallery page ----------*/
    #gallery-section {
        padding-top: 0;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(134px, 1fr));
        gap: 10px;
        padding: 0 10px 0 10px;
    }

    /*---------- Styling for exhibition page ----------*/

    #h2-container {
        margin-top: 10px;
    }

    #exhibition-intro {
        padding: 0 10px 0 20px;
    }

    .image-container {
        margin-bottom: 10px;
        padding: 0 20px;
    }

    #section-container {
        display: block;
    }

    /*---------- Styling for booking page ----------*/
    .form-select {
        width: 200%;
    }

    .form-control {
        width: 200%;
    }

    /*---------- Styling for thank-you page ----------*/
    #thank-you-body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        text-align: center;
    }

    .thank-you-container {
        display: block;
    }

    #thank-you-button {
        text-align: center;
    }

    #thank-you-button button {
        margin-top: 10px;
        font-size: small;
    }

    /*---------- Styling for coming-soon page ----------*/
    #coming-soon-body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        text-align: center;
    }

    .coming-soon-container {
        display: block;
    }

    #coming-soon-button {
        text-align: center;
    }

    #coming-soon-button button {
        margin-top: 10px;
        font-size: small;
    }

}