/*---------- GOOGLE FONTS IMPORT ----------*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto+Serif:opsz,wght@8..144,200&display=swap');

:root {
    /*---------- TYPOGRAPHY ----------*/
    --header-text: 'Dancing Script', cursive;
    --content-text: 'Roboto Serif', serif;
  
    /*---------- COLOURS ----------*/
    --white: #fafafa;
}

/* Removes all margins & Padding on everything so they can be fully customised */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background image added to the body with a backup colour in case the image cannot load,
Font to be used throughout the pages body */
body {
    background: url(../images/abstract/1.jpg);
    background-color: #4b4453;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*---------- HEADINGS & TEXT ----------*/
h1 {
    text-align: justify;
    color: #fafafa;
    font-family: 'Dancing Script', cursive;
    transition: transform 0.3s ease-in-out;
}

h1:hover {
    transform: scale(1.1);
}

h2 {
    text-align: center;
    color: #fafafa;
    font-family: 'Dancing Script', cursive;
    transition: transform 0.3s ease-in-out;
}

h2:hover {
    transform: scale(1.1);
}

p {
    color:#fafafa;
    font-family: 'Roboto Serif', serif;
    font-size: 13px;
    text-align: justify;
    padding-right: 15px;
}

a {
    text-decoration: none;
    font-family: 'Roboto Serif', serif;
}


/*---------- SEMANTIC HEADER ----------*/
.container-fluid {
    padding-left: 20px;
    padding-right: 10px;
}

#nav-container {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    color: #fafafa;
    font-size: 11px;
}

.nav-link:hover {
    color: #fafafa;
}

/*---------- SEMANTIC SECTION ----------*/

/*Styling for hero-image on home page*/
.hero-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 0 20px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 2.5s ease-in-out forwards;
  }

/*---------- SEMANTIC FOOTER ----------*/

#footer-p {
    font-size: 10px;
}

.social-media li a i {
    color: #4b4453;
    background: #fafafa;
    width: 25px;
    height: 25px;
    padding: 10px 0;
    border-radius: 50%;
    font-size: 10px;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
  }

  .social-media li a i:hover {
    transform: scale(1.1);
    color: #fafafa;
    background: #4b4453;
  }

  #socialmedia-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }

  .footer-container {
    padding-top: 20px;
  }
  